input{
    width:60%;
    height:43px;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    outline: none;
    border: 2px solid #003063;
    border-radius:5px;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
}

.results-message{
    margin:50px 0;
    color:#003063;
}

small{
    font-size: 30px;
    font-weight: 200;
}