

body {
  text-align: center;
  font-family: 'Readex Pro', sans-serif;
  margin: 0;
  padding:0;
  min-height: 100vh;
  background: repeat linear-gradient(155deg, rgb(244, 199, 159) 0%, rgb(255, 165, 87) 100%);

}

